[Unit]
Description=Sound Controller
After=graphical.target

[Service]
User=moot
Environment=DISPLAY=:0
WorkingDirectory=/home/moot/moot/sound
ExecStart=/home/moot/moot/bin/python /home/moot/moot/sound/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target

