[Unit]
Description=Video Server
After=graphical.target

[Service]
User=moot
Environment=DISPLAY=:0
WorkingDirectory=/home/moot/moot/video_server
ExecStart=/home/moot/moot/venv/bin/python /home/moot/moot/video_server/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target

